.div {
  border-radius: 50%;
  border: 4px solid #fae55a;
  height: 32px;
  width: 32px;
  animation: spinning 2s infinite linear;
}

@keyframes spinning {
  0%      {clip-path: polygon(50% 50%,    50% 0,      50% 0,      50% 0,        50% 0,      50% 0,      50% 0)}
  6.25%   {clip-path: polygon(50% 50%,    50% 0,      100% 0,     100% 0,       100% 0,     100% 0,     100% 0)}
  18.75%  {clip-path: polygon(50% 50%,    50% 0,      100% 0,     100% 100%,    100% 100%,  100% 100%,  100% 100%)}
  31.25%  {clip-path: polygon(50% 50%,    50% 0,      100% 0,     100% 100%,    0 100%,     0 100%,     0 100%)}
  43.75%  {clip-path: polygon(50% 50%,    50% 0,      100% 0,     100% 100%,    0 100%,     0 0,     0 0)}
  50%     {clip-path: polygon(50% 50%,    50% 0,      100% 0,     100% 100%,    0 100%,     0 0,        50% 0)}
  56.25%  {clip-path: polygon(50% 50%,    100% 0,     100% 0,     100% 100%,    0 100%,     0 0,        50% 0)}
  68.75%  {clip-path: polygon(50% 50%,    100% 100%,  100% 100%,  100% 100%,    0 100%,     0 0,        50% 0)}
  81.25%  {clip-path: polygon(50% 50%,    0 100%,     0 100%,     0 100%,       0 100%,     0 0,        50% 0)}
  93.75%  {clip-path: polygon(50% 50%,    0 0,        0 0,        0 0,          0 0,        0 0,        50% 0)}
  100%    {clip-path: polygon(50% 50%,    50% 0,    50% 0,      50% 0,        50% 0,      50% 0,      50% 0)}
}