.card {
  background-color: white;
  border-radius: 12px;
  padding: 10px;
}

.title {
  border-bottom: 1px solid #ddd;
  margin: 5px 0;

  h1 {
    font-size: 1em;
    margin: 0;
    margin-bottom: 6px;
  }
}